APP_NAME="Code-runner By XsSandreiSsX"
APP_VERSION=1.6
DEBUG=FALSE

POSTGRES_USER="customuser"
POSTGRES_PASSWORD="custompassword"
POSTGRES_HOST="postgres"
POSTGRES_PORT=5432
POSTGRES_DB="database"

RABBITMQ_USER="customuser"
RABBITMQ_PASSWORD="custompassword"
RABBITMQ_HOST="rabbitmq"
RABBITMQ_PORT=5672

REDIS_PASSWORD="custompassword"
REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_DB=0